@model Inventory.Models.ItemViewModel
@{
    ViewBag.Title = "Item Detail";
}

<h2>@Model.DisplayName</h2>

<div class="row">
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.DisplayName)
        <br />@Html.DisplayFor(m => m.DisplayName)
    </div>
    <div class="col-sm-12 form-group">
        @Html.LabelFor(m => m.ItemNotes)
        <br />@Html.DisplayFor(m => m.ItemNotes)
    </div>
    <div class="col-sm-12">
        @Html.ActionLink("Done", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>

