@model Inventory.Models.ItemTypeListViewModel

@{
    ViewBag.Title = "ItemType - Index";
}

<h2>Item Type</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Type Name</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.ItemTypes.Count; i++)
        {
            <tr>
                <td>@Model.ItemTypes[i].ItemTypeDisplayName</td>
                <td>
                    @Html.ActionLink("Detail", "ItemTypeDetail", new { id = Model.ItemTypes[i].ItemTypeId })
                    | @Html.ActionLink("Edit", "ItemTypeEdit", new { id = Model.ItemTypes[i].ItemTypeId })
                    | <a data-toggle="modal" href="@("#deleteItemTypeModal" + i)">Delete</a>
                    <div class="modal fade" id="@("deleteItemTypeModal" + i)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("DeleteItemType", "ItemType"))
                                {
                                    <input type="hidden" value="@Model.ItemTypes[i].ItemTypeId" name="ItemTypeId" />
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Delete @Model.ItemTypes[i].ItemTypeDisplayName</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            ---- <strong>WARNING</strong> - If you delete this Item Type, all of the Items that has this Item Type, will be deleted!!!!----<br />
                                            Are you sure you want to delete @Model.ItemTypes[i].ItemTypeDisplayName?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-sm-12 form-group">
    <label>Total Item Types:</label> @Model.TotalItemTypes
</div>
<div class="col-sm-12">
    @Html.ActionLink("Add Item Type", "ItemTypeAdd", null, new { @class = "btn btn-primary" })
</div>

